@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  @font-face {
      font-family: Merriweather;
      font-weight: 400 ;
      src: url("/fonts/Merriweather-Regular.ttf");
  }

  @font-face {
      font-family: Merriweather;
      font-weight: 700 ;
      src: url("/fonts/Merriweather-Bold.ttf");
  }
}